[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
aiofiles = "*"
fastapi = "*"
tqdm = "*"
pillow = "*"
jinja2 = "*"
python-multipart = "*"
uvicorn = "*"

[dev-packages]
sphinx = "*"

[requires]
python_version = "3.8"
