[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
aiofiles = "*"
fastapi = "*"
tqdm = "*"
pillow = "*"
python-multipart = "*"
uvicorn = "*"
jinja2 = "*"

[dev-packages]
sphinx = "*"
doit = "*"
build = "*"
flake8 = "*"
pydocstyle = "*"
babel = "*"
twine = "*"

[requires]
