[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
aiofiles = "*"
fastapi = "*"
tqdm = "*"
pillow = "*"
python-multipart = "*"
uvicorn = "*"
jinja2 = "*"
babel = "*"

[dev-packages]
sphinx = "*"
doit = "*"
pycodestyle = "*"
build = "*"
flake8 = "*"
pydocstyle = "*"

[requires]
python_version = "3.8"
