<html>
    <body>
        <h1>Jackal Incorporated</h1>
        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="file"><br>
            <input type="submit" value="Submit">
        </form>
        {% if picture %}
            <img src="static/{{picture}}">
        {% endif %}
        {% if video %}
            <video controls="controls">
                <source src="static/{{video}}" type='video/mp4"'>
                <a href="static/{{video}}">Download</a>.
            </video>
        {% endif %}
    </body>
</html>